
.background {
  padding: 8px;
  font-family: "Inter", sans-serif;
  padding-bottom: 80px;
  background-color:linen
}

.background button {
  background: none;
  border: none;
  cursor: pointer;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.country {
    border-left: 4px solid limegreen;
    padding-left: 8px;
}

.background .tierAndPopulation {
    display: flex;
    flex-direction: column;
    font-size: smaller;
    font-family: "Inter", sans-serif;
    color: grey
}

.background button:hover .city-image {
  filter: drop-shadow(2px 4px 4px grey);
}

.city-image {
    width: 64px;
    height: 64px;
    background-color: #ccc;
    border-radius: 6px;
    flex-shrink: 0;
    border: 2px solid black;
}

.city {
  font-family: "Inter", sans-serif;
  font-weight: bold;
}

.city-row {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

.country img {
    width: 24px;
    height: 16px;
    border: 1px solid black;
    object-fit: cover;
    margin-left: 6px;
    vertical-align: middle;
}

.cityWrapper {
    position: relative;
}

.tooltip {
    display: none;
    position: absolute;
    background: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 12px;
    width: 200px;
    z-index: 10;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
    text-align: center;
    top: 0;
    left: 100%;
    max-height: 300px;
    overflow-y: auto;
}

.tooltip img {
    border: 1px solid black;
    width: 40px;
    height: 27px;
    object-fit: fill;
    margin-bottom: 6px;
}

.tooltip hr {
  margin: 8px 0;
}

.cityWrapper:hover .tooltip {
    display: block;
}
